.space {
	padding-bottom: 88px;
}

.body {
	max-width: 1200px;
	margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 700px) {
	.body {
		padding-left: 10px;
		padding-right: 10px;
	}
}
